
body{
    background-color: thistle;
    text-decoration-color: thistle;
    background-image: url(images/img2.jpeg); background-size: 100%;
    background-repeat: no-repeat;
    width: 900px; /* whatever width you want */

}


h1
{
    color: white;
    background-color: teal;
    font-family: "Comic Sans MS", cursive, sans-serif,;
    font-size: 32pt;
}

p
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: white;
    color: black;
    font-size: 12pt;

}
